/* [START maps_marker_simple] */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        
        height: 400px;
        width: 100%;
        margin-top: 150px;
        bottom: 0;
      }

      /* customMap */
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url("background.jpg");
      }
      
      /* [END maps_marker_simple] */
      /* #floating-panel {
        position: absolute;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      } */
